<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="org.kovalexey.rdt1c.debug.ui.viewerContributionVariableView"
            targetID="org.eclipse.debug.ui.VariableView">
         <action
               class="org.kovalexey.rdt1c.debug.ui.actions.VariableViewDebugAction"
               id="org.kovalexey.rdt1c.debug.ui.variableview.debugelementaction"
               label="Отладить"
               menubarPath="variableGroup"
               tooltip="На толстом клиенте - открывает соответствующее окно редактора ИР. На сервере - записывает объект для отложенной отладки. В тонком клиенте не работает.">
         </action>
      </viewerContribution>
      <viewerContribution
            id="org.kovalexey.rdt1c.debug.ui.viewerContributionExpressionView"
            targetID="org.eclipse.debug.ui.ExpressionView">
         <action
               class="org.kovalexey.rdt1c.debug.ui.actions.ExpressionViewDebugAction"
               id="org.kovalexey.rdt1c.debug.ui.expressionview.debugvariable"
               label="Отладить"
               menubarPath="expressionGroup">
         </action>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:#BslEditorContext?after=com._1c.g5.v8.dt.commands.validate">
         <menu
               label="ИР">
            <command
                  commandId="org.kovalexey.rdt1c.debug.ui.DebugBSLTextVariableCommand"
                  label="Отладить"
                  style="push">
            </command>
            <command
                  commandId="org.kovalexey.rdt1c.debug.ui.OpenDebugBslEditorCommand"
                  label="Динамический код"
                  style="push">
            </command>
            <command
                  commandId="org.kovalexey.rdt1c.debug.ui.GenerateBslDocCommand"
                  label="Сгенерировать BSL-Doc из отладки"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.kovalexey.rdt1c.debug.ui.DebugBSLTextVariableCommand"
            name="Отладить">
      </command>
      <command
            defaultHandler="org.kovalexey.rdt1c.debug.ui.Rdt1cExecutableExtenstionFactory:org.kovalexey.rdt1c.debug.ui.handlers.OpenBslEditorDialogHandler"
            id="org.kovalexey.rdt1c.debug.ui.OpenDebugBslEditorCommand"
            name="Динамический код">
      </command>
      <command
            id="org.kovalexey.rdt1c.debug.ui.GenerateBslDocCommand"
            name="Сгенерировать BSL-Doc из отладки">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.kovalexey.rdt1c.debug.ui.Rdt1cExecutableExtenstionFactory:org.kovalexey.rdt1c.debug.ui.handlers.DebugBSLTextVariableCommandHandler"
            commandId="org.kovalexey.rdt1c.debug.ui.DebugBSLTextVariableCommand">
      </handler>
      <handler
            class="org.kovalexey.rdt1c.debug.ui.Rdt1cExecutableExtenstionFactory:org.kovalexey.rdt1c.debug.ui.handlers.GenerateBslDocCommandHandler"
            commandId="org.kovalexey.rdt1c.debug.ui.GenerateBslDocCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.debug.ui.DebugPreferencePage"
            class="org.kovalexey.rdt1c.debug.ui.preferences.RDT1CRootPreferencePage"
            id="org.kovalexey.rdt1c.debug.ui.preferences.RDT1CRootPreferencePage"
            name="RDT1C">
      </page>
      <page
            category="org.kovalexey.rdt1c.debug.ui.preferences.RDT1CRootPreferencePage"
            class="org.kovalexey.rdt1c.debug.ui.preferences.RDT1CPreferencePage"
            id="org.kovalexey.rdt1c.debug.ui.preferences.RDT1CPreferencePage"
            name="Динамический код">
      </page>
      <page
            category="org.kovalexey.rdt1c.debug.ui.preferences.RDT1CRootPreferencePage"
            class="org.kovalexey.rdt1c.debug.ui.preferences.RDT1CDebugPreferencePage"
            id="org.kovalexey.rdt1c.debug.ui.preferences.RDT1CDebugPreferencePage"
            name="Отладить">
      </page>
      <page
            category="org.kovalexey.rdt1c.debug.ui.preferences.RDT1CRootPreferencePage"
            class="org.kovalexey.rdt1c.debug.ui.preferences.RDT1CBslDocPreferencePage"
            id="org.kovalexey.rdt1c.debug.ui.preferences.RDT1CBslDocPreferencePage"
            name="Генерация комментариев BSL">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.kovalexey.rdt1c.debug.ui.preferences.RDT1CPreferenceInitializer">
      </initializer>
   </extension>
</plugin>
