<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="com.kovalexey.rdt1c.debug.ui.viewerContributionVariableView"
            targetID="org.eclipse.debug.ui.VariableView">
         <action
               class="com.kovalexey.rdt1c.debug.ui.actions.VariableViewDebugAction"
               id="com.kovalexey.rdt1c.debug.ui.variableview.debugelementaction"
               label="ИрОбщий.От()"
               menubarPath="variableGroup"
               tooltip="На толстом клиенте - открывает соответствующее окно редактора ИР. На сервере - записывает объект для отложенной отладки. В тонком клиенте не работает.">
         </action>
      </viewerContribution>
      <viewerContribution
            id="com.kovalexey.rdt1c.debug.ui.viewerContributionExpressionView"
            targetID="org.eclipse.debug.ui.ExpressionView">
         <action
               class="com.kovalexey.rdt1c.debug.ui.actions.ExpressionViewDebugAction"
               id="com.kovalexey.rdt1c.debug.ui.expressionview.debugvariable"
               label="ИрОбщий.От()"
               menubarPath="expressionGroup">
         </action>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:#BslEditorContext?after=com._1c.g5.v8.dt.commands.validate">
         <menu
               label="ИР">
            <command
                  commandId="com.kovalexey.rdt1c.debug.ui.DebugBSLTextVariableCommand"
                  label="ИрОбщий.От()"
                  style="push">
            </command>
            <command
                  commandId="com.kovalexey.rdt1c.debug.ui.OpenDebugBslEditorCommand"
                  label="ИрОбщий.Ду()"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.kovalexey.rdt1c.debug.ui.DebugBSLTextVariableCommand"
            name="ИрОбщий.От()">
      </command>
      <command
            defaultHandler="com.kovalexey.rdt1c.debug.ui.Rdt1cExecutableExtenstionFactory:com.kovalexey.rdt1c.debug.ui.handlers.OpenBslEditorDialogHandler"
            id="com.kovalexey.rdt1c.debug.ui.OpenDebugBslEditorCommand"
            name="ИрОбщий.Ду()">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.kovalexey.rdt1c.debug.ui.handlers.DebugBSLTextVariableCommandHandler"
            commandId="com.kovalexey.rdt1c.debug.ui.DebugBSLTextVariableCommand">
      </handler>
   </extension>
</plugin>
